# ldap
LDAP_ORGANISATION=My Company
LDAP_DOMAIN=mycompany.local
LDAP_ADMIN_PASSWORD=password
LDAP_TLS=false
LDAP_BASE_DN=dc=mycompany,dc=local

# postgres
POSTGRES_PASSWORD=password
POSTGRES_USER=postgres
POSTGRES_DB=chill

# spring
LDAP_URL=ldap://ldap:389
LDAP_USER_DN_PATTERN=cn={0},ou=people